.mainJumbo{
    background-color: #FFFFD5;
    padding: 32px;
}

.jumbomain{
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.jumbosup {
    color: #03DAA0;    
    font-size: 60px;
}

.jumbotron {
    margin: 0;
}

/* background-color: #FFFFD5; */